<!DOCTYPE html>
<html>

<head>
    <title>Quotes Home</title>
    <meta charset='UTF-8' />
    <meta name='description' content='Full app using Pylot MVC' />
    <meta name='keywords' content='Pylot, forms, database, mySQL, routing' />

    <link rel='stylesheet' type='text/css' href="/static/css/quotes.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script type='text/javascript' src="/static/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

</head>

<body>
    <nav class='navbar'>
        <div class='container'>
            <div class='navbar-header'>
                Welcome {{ session['first_name'] }}
            </div>
            <ul class='nav navbar-nav navbar-right'>
                <li>
                    <a href='/clear_session'>Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class='container'>
        <div class='row'>
            <div class='col-lg-7'>
                {% for quote in all_quotes %}
                <div class='well'>
                    <p>
                        Quote by: {{ quote['quoted_by'] }}
                    </p>
                    <p>
                        Quote Says: {{ quote['quote_text'] }}
                    </p>
                    <p>
                        Added By: <a href='/users/{{ quote['user_id']}}' >{{ quote['first_name'] }}</a>
                    </p>
                    <p>
                        <a href='/quotes/mark_fav/{{ quote['quote_id'] }}'> Add to my list </a>
                    </p>
                </div>
                {% endfor %}
            </div>
            <!-- END col-lg-7 -->

            <div class='col-lg-4 col-lg-offset-1'>
                <div class='row'>
                    <div class='well scrollable-menu'>
                        {% for fav_quote in fav_quotes %}
                        <div class='well'>
                            <p>
                                Quote by: {{ fav_quote['quoted_by'] }}
                            </p>
                            <p>
                                Quote Says: {{ fav_quote['quote_text'] }}
                            </p>
                            <p>
                                Added By: {{ fav_quote['first_name'] }}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- END ROW 1 - FAVS -->

                <div class='row'>
                    <h2>Contribute a Quote</h2>
                    <form class="form-horizontal" role="form" action='/quotes/add_submit' method='post'>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="quoted_by">Quoted By:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name='quoted_by' placeholder="quoted_by">
                            </div>
                        </div>
                        <!-- END ADD AUTHOR -->

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="quote_text">Message:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name='quote_text' placeholder="quote_text"></textarea>
                            </div>
                        </div>
                        <!-- END QUOTE TEXT -->

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                        <!-- END SUBMIT -->
                    </form>
                </div>
                <!-- END ROW 2 -->
            </div>
            <!-- END RIGHT COL LG-4 -->
        </div>
        <!-- END MAIN ROW -->
    </div>
    <!-- End container -->

</body>

</html>
